* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

li,
ol,
ul {
    list-style: none
}

a {
    color: inherit;
    text-decoration: none
}

#rot,
.App,
body,
html {
    height: 100%
}

#rot {
    --bg-color: #141414;
    --bg-color-2: #3f3f3f;
    --bg-color-3: #404040;
    --button-color: #33db7e;
    --text-color: #fff;
    --text-color-2: #e7e7e7;
    --neon-color: #daa700;
    --neon-color-2: #0a0906
}

.App {
    display: flex;
    flex-direction: column
}

.main {
    flex: 1 1 auto
}

hr {
    background-color: #fff
}

::-webkit-scrollbar {
    background-color: initial;
    width: 10px
}

::-webkit-scrollbar-thumb {
    background-color: var(--neon-color);
    border-radius: 20px;
    width: 10px
}

.header {
    background-color: var(--bg-color-2);
    color: var(--text-color)
}

.header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px
}

.header__nav {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600
}

.header__links {
    align-items: center;
    display: flex
}

.header__links>:not(:last-child) {
    margin-right: 30px
}

.header__logo {
    cursor: pointer;
    font-family: Roboto Mono, monospace;
    font-size: 20px;
    font-weight: 700
}

.green {
    color: var(--neon-color)
}

.header__link {
    color: --text-color;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: color .23s ease
}

.header__link:after {
    background-color: var(--neon-color-2);
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    transition: width .5s;
    width: 0
}

.header__link:hover {
    color: var(--neon-color)
}

.header__link:hover:after {
    background-color: var(--neon-color);
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: width .5s;
    width: 100%
}

.header__button button {
    background-color: var(--neon-color);
    border: none;
    border-radius: 3px;
    color: var(--text-color);
    cursor: pointer;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    padding: 7px 18px;
    transition: all .15s ease
}

.header__button button:hover {
    opacity: .9
}

@media (max-width:767px) {
    .header__link {
        display: none
    }
}

.main-page {
    background-color: var(--bg-color);
    height: 100%
}

.main-page__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%
}

.title-block {
    padding: 30px 15px;
    text-align: center
}

.title-block__logo img {
    max-width: 120px
}

.title-block__title {
    color: var(--neon-color);
    font-family: Roboto Mono, monospace;
    font-size: 30px;
    font-weight: 700
}

.title-block__body {
    color: var(--text-color);
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    font-weight: 600
}

.title-block>:not(:last-child) {
    margin-bottom: 4px
}

.title-block__button a {
    background-color: var(--neon-color);
    border: none;
    border-radius: 3px;
    color: var(--text-color);
    cursor: pointer;
    display: block;
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
    min-width: 400px;
    outline: none;
    padding: 15px 18px;
    text-transform: uppercase;
    transition: all .15s ease
}

.title-block__button a:hover {
    opacity: .9
}

@media(max-width:767px) {
    .title-block__button a {
        min-width: 0;
        width: 100%
    }
}

.main-page__stats {
    margin-top: 50px
}

.stats {
    align-items: center
}

.stats,
.stats__items {
    display: flex;
    justify-content: center;
    width: 100%
}

.stats__items {
    flex-wrap: wrap
}

.stats__column {
    flex: 0 0 200px;
    padding: 15px
}

.stats-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90px
}

.stats-item__title {
    color: var(--text-color)
}

.stats-item__title,
.stats-item__value {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-align: center
}

.stats-item__value {
    color: var(--neon-color)
}

.advantages {
    max-width: 800px
}

.advantages__items {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.advantages__column {
    flex: 0 0 245px;
    padding: 15px
}

.advantages__item {
    background-color: var(--bg-color-2);
    min-height: 270px;
    padding: 25px
}

.adv-item hr {
    margin: 25px 0
}

.adv-item__title {
    color: var(--text-color);
    font-size: 20px
}

.adv-item__body,
.adv-item__title {
    font-family: Inter;
    font-weight: 600;
    text-align: center
}

.adv-item__body {
    color: var(--text-color-2);
    font-size: 16px
}

.main-page__hr {
    margin: 40px 15px;
    width: 50vw
}

@media (max-width:767px) {
    .main-page__hr {
        width: 90%
    }
}

.wantlearmore__title {
    color: var(--text-color);
    font-family: Roboto Mono, monospace;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center
}

.wantlearmore__body {
    color: var(--text-color-2);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    max-width: 700px;
    text-align: center
}

.play {
    background-color: var(--bg-color);
    height: 100%;
    padding: 5px 15px
}

.play__container {
    height: 100%;
    margin: 0 auto;
    max-width: 1280px
}

.game {
    background-color: var(--bg-color-3);
    height: 300px;
    max-width: 50%;
    position: relative
}

.game__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.game__container>* {
    flex: 0 0 38%
}

.game__container>:not(:last-child) {
    margin-right: 5px
}

.timer {
    height: 37px;
    position: relative;
    width: 100%
}

.timer__display {
    background-color: var(--neon-color);
    height: 37px;
    transition: all .09s linear
}

.timer__value {
    font-family: Roboto mono;
    font-size: 16px;
    left: 160px;
    top: 5px
}

.game__crash,
.timer__value {
    color: var(--text-color);
    font-weight: 600;
    position: absolute;
    -webkit-user-select: none;
    user-select: none
}

.game__crash {
    font-family: Roboto Mono;
    font-size: 40px;
    left: 200px;
    letter-spacing: -4px;
    top: 80px
}

canvas {
    border-bottom: 1px solid var(--text-color-2);
    border-left: 1px solid var(--text-color-2);
    overflow: hidden
}

.chat {
    background-color: var(--bg-color-3);
    border: 1px solid var(--text-color-2)
}

.chat__container {
    height: 90px
}

.message {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
    transition: all .2s ease
}

.message__img img {
    margin-top: -10px;
    width: 50px
}

.message__img {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
    margin: 5px;
    overflow: hidden;
    width: 30px
}

.message__name {
    color: var(--neon-color);
    font-size: 12px;
    font-weight: 700;
    min-width: 170px
}

.message__body,
.message__name {
    font-family: Inter;
    padding-top: 15px
}

.message__body {
    color: var(--text-color-2);
    font-size: 13px
}

.results__container {
    align-items: center;
    background-color: var(--bg-color-3);
    border-left: 1px solid var(--text-color-2);
    border-right: 1px solid var(--text-color-2);
    border-top: 1px solid var(--text-color-2);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 40px
}

.results__result {
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 15px
}

.chat-input {
    background-color: var(--bg-color-3);
    border: 1px solid var(--text-color-2);
    border-top: none
}

.chat-input__container {
    background-color: #42444b;
    color: #6372c5;
    cursor: pointer;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 25px;
    -webkit-user-select: none;
    user-select: none
}
body {
    background-image: url(https://i.ibb.co/5GyXk8F/bg.png); /* Путь к фоновому изображению */
    background-color: #f1f0f0; /* Цвет фона */
   }
.bets {
    background-color: var(--bg-color-3);
    height: 300px;
    max-height: 300px;
    max-width: 50%;
    overflow-x: hidden;
    overflow-y: scroll
}

.bets__container {
    height: 100%
}

.bets__header {
    background-color: #42444b
}

.bets-header__item {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    text-align: center
}

.bets__item {
    padding: 5px
}

.bets__win .bets__item {
    color: #00ff40
}

.bets__loose .bets__item,
.bets__win .bets__item {
    font-family: Inter;
    font-size: 14px;
    text-align: center
}

.bets__loose .bets__item {
    color: red
}

.bets__playing .bets__item {
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    text-align: center
}

.bets__table {
    padding: 5px;
    position: relative;
    width: 100%
}

.bets__1 {
    background-color: var(--bg-color-3)
}

.bets__2 {
    background-color: #484a5c
}

.bets__none {
    display: none
}

.playersBets {
    color: #fff;
    font-size: 24px
}

.connectBets,
.playersBets {
    font-family: Inter;
    font-weight: 700;
    text-align: center
}

.connectBets {
    color: var(--text-color-2);
    font-size: 20px
}

.containerBets {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto 0;
    opacity: .7
}

.containerBets,
.gamepad {
    align-items: center;
    display: flex
}

.gamepad {
    background-color: var(--bg-color-3);
    flex: 0 0 23%;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 150px;
    padding: 5px;
    position: relative
}

.gamepad button {
    background-color: var(--neon-color);
    border: none;
    border-radius: 3px;
    color: var(--text-color);
    cursor: pointer;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
    outline: none;
    padding: 7px 18px;
    transition: all .15s ease
}

.gamepad button:hover {
    opacity: .9
}

.gamepad__description {
    color: var(--text-color-2);
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    text-align: center
}

@media (max-width:1100px) {
    .gamepad {
        flex: 0 0 21%
    }
}

@media (max-width:1033px) {
    .game__container>* {
        flex: 0 0 100%
    }

    .game {
        max-width: 100%
    }

    .gamepad {
        box-sizing: border-box;
        margin: 5px 0
    }

    .bets {
        border: 1px solid var(--text-color-2);
        max-width: 100%;
        padding: 5px
    }
}

.leaderboards {
    background-color: var(--bg-color);
    height: 100%
}

.leaderboards__container {
    margin: 0 auto;
    max-width: 1024px
}

.leaderboards__boards {
    display: flex;
    flex-wrap: wrap
}

.boards__most-profit {
    flex: 0 0 50%
}

.most-profit {
    border: 2px solid #fff;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    -webkit-user-select: none;
    user-select: none
}

.most-profit__header {
    background-color: #2c2c2c;
    justify-content: space-around !important;
    padding: 15px
}

.most-profit__dark:not(:last-child),
.most-profit__header {
    border-bottom: 2px solid #fff
}

.most-profit__dark {
    padding: 15px
}

.most-profit__light {
    background-color: var(--bg-color-3);
    padding: 15px
}

.most-profit__light:not(:last-child) {
    border-bottom: 2px solid #fff
}

.boards__highest-wins {
    flex: 0 0 50%
}

.most-profit__image {
    width: 50px
}

.most-profit__stroke {
    align-items: center;
    display: flex;
    justify-content: flex-start
}

.most-profit__user {
    margin: 0 auto 0 50px
}

.most-profit__sol {
    font-size: 17px;
    padding-left: 70px;
    text-shadow: 0 0 1px #ff58bf
}

.boards__title,
.most-profit__sol {
    color: var(--neon-color);
    font-weight: 700
}

.boards__title {
    font-family: Roboto Mono;
    font-size: 25px;
    padding: 15px 0;
    text-align: center
}

.tableWins {
    background-color: #2c2c2c;
    justify-content: space-around !important;
    padding: 15px
}

.tableWins_block {
    margin-left: 5px
}

@media (max-width:932px) {

    .boards__highest-wins,
    .boards__most-profit {
        flex: 0 0 100%
    }
}

.statistics {
    background-color: var(--bg-color);
    height: 100%
}

.statistics__items {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.statistics__column {
    padding: 25px
}

.stat-item {
    background-color: var(--bg-color-3);
    border: 1px solid var(--neon-color);
    border-radius: 10px;
    cursor: pointer;
    padding: 25px;
    transition: all .3s ease;
    -webkit-user-select: none;
    user-select: none
}

.stat-item:hover {
    background-color: #3e485a;
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px)
}

.stat-item__img img {
    width: 100px
}

.stat-item__title {
    color: var(--text-color);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center
}

.stat-item__value {
    color: var(--neon-color);
    font-family: Roboto Mono;
    font-size: 16px;
    text-align: center
}

.statistics__title {
    color: var(--text-color);
    font-family: Inter;
    font-size: 26px;
    padding: 100px 0 20px;
    text-align: center
}

.FAQ {
    background-color: var(--bg-color);
    height: 100%
}

.FAQ__container {
    margin: 0 auto;
    max-width: 1024px
}

.FAQ__title {
    color: var(--text-color);
    font-family: Inter;
    font-size: 26px;
    padding: 100px 0 20px;
    text-align: center
}

.faq-bloc__title {
    color: var(--text-color);
    font-family: Inter;
    font-size: 20px;
    padding: 10px 0
}

.faq-bloc__text {
    color: var(--text-color-2);
    font-family: Inter;
    font-size: 16px
}

.FAQ__hr {
    margin: 15px 0
}

.rblock-item__active {
    align-items: center;
    background-color: rgba(33, 33, 33, .3);
    bottom: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 0
}

.rblock-item {
    position: absolute;
    right: 15px;
    top: 15px
}

.buttonWallet {
    background-color: #daa700;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    padding: 7px 18px;
    transition: all .15s ease
}

.buttonWallet:hover {
    opacity: .7
}

#mytrigger {
    left: 43.42% !important;
    top: 84px !important
}

#mytrigger button {
    min-height: 35px !important;
    min-width: 180.34px !important;
    opacity: 0
}

@media (max-width:1033px) {
    #mytrigger {
        left: 38.42% !important;
        top: 390px !important
    }
}

@media (min-width:1720px) {
    #mytrigger {
        left: 45% !important;
        top: 84px !important
    }
}

/*# sourceMappingURL=main.99e164e4.css.map*/
